html, body { 
  padding: 0px; 
  margin: 0px; 
  width: 100%; 
  height: 100%; 
   background-color: #FAFAFA;
}

.App {
  height: 100%;
  text-align: center;
}

.app__messages {
  padding-bottom: 80px;
}

.app__form {
  padding: 10px 20px 10px 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;

  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
}

.app__form-control {
  width: 100%;

  display: flex !important;
  flex-direction: row !important;
}

.app__icon-button {
  margin-right: 20px !important;
  flex: 0 !important;
}

.app__input {
  flex: 1 !important;
}